<div id="cont1" class="container space-top space-bottom" style="padding-bottom: 3%">
  <h1 class="page-header">Adicionar conteúdo</h1>

  <%= render 'form' %>
  <p></p>
  <%= button_to('Voltar atrás', contents_path, method: :get, class: "btn btn-default") %>
  <p></p>
</div>