<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @current_video.index %>
</p>

<%= link_to 'Edit', edit_current_video_path(@current_video) %> |
<%= link_to 'Back', current_videos_path %>
