<div class="container" id="cont1" style="padding-bottom: 3%">
  <h2 style="  margin-bottom: 4%;
          border-bottom: 1px solid #eee;">Pontuações</h2>
  <table class="table table-striped">
    <tr>
      <th>Nome</th>
      <th>Jogo</th>
      <th>Pontuação</th>
    </tr>
    <% @scores.each do |score| %>
        <tr>
          <td><%= User.find_by(id: score.user_id).name %></td>
          <td><%= Game.find_by(id: score.game_id).name %></td>
          <td><%= score.score %></td>
        </tr>
    <% end %>
  </table>
</div>
