<div id="cont1" class="container space-top space-bottom">
  <h1 class="page-header">Editar informação</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>