<div id="cont1" class="container" style="padding-bottom: 3%">
  <h1 class="page-header">Adicionar uma nova sala vazia.</h1>
  <%= render 'form' %>

  <%= link_to 'Back', free_classrooms_path %>
</div>