/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require mediaelement_rails
 *= require_self
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../assets/glyphicons-halflings-regular.eot');
    src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../assets/glyphicons-halflings-regular.woff') format('woff'), url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    padding-top: 50px;
}

/* ############# BARRA DE MENU ############# */
#links {
    padding-right: 20px;
}

#logo {
    padding: 5px;
}

/*Para evitar que quando ecra esta pequeno o item do perfil fique com margem 'a esquerda*/
@media (min-width: 768px) {
    #profileLink {
        margin-left: 50px;
    }

}

/* ############# AGORA NA TV ############# */
#bookmark {
    margin: auto;
    height: 10%;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightgrey;
    border: 1px solid #000000;
}

#bookmarkButton {
    height: 100%;
}

#bookmarkText {
    height: 100%;
}

.headerTitle {
    margin-top: 40px;
}

/* ############# DESTAQUES ############# */
/*#slidingPics {*/
/*background-color: brown;*/
/*margin-top: 5px;*/
/*padding-top: 15px;*/
/*height: 500px;*/
/*}*/

#slidingPics img {
    height: 500px;
    width: 100%;
}

.headline-img,
.headline-description {
    padding: 0px;
}

@media (min-width: 981px) {
    .headline-description {
        background-color: lightgrey;
        height: 500px;
        padding-left: 10px;
    }

    .headline-img {
        padding-right: 10px;
    }
}

@media (max-width: 980px) {
    .headline-description {
        background-color: lightgrey;
        height: auto;
        padding-left: 10px;
    }
}

/* ############# CONTEUDO + VISTO ############# */

.top-content img {
    /*width: 350px;*/
    /*height: 170px;*/
    width: 100%;
    height: 175px;
}

.caption a:hover {
    background-color: inherit;
}

.thumbnail {
    background-color: lightgrey;
}

@media (max-width: 768px) {
    .btn-responsive {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.2;
    }
}

/* ############# cenas de teste - APAGAR ############# */
#footer-test {
    height: 20px;
}

#teste-row {
    border: 1px solid black;
    /*position: absolute;*/
    height: 300px;
}

#row-com-texto {
    height: 300px;
    width: 200px;
    position: relative;
}