// Place all the styles related to the tv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//FONTES
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Condensed'), url('MYRIADPRO-COND.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold Italic'), url('MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Condensed Italic'), url('MYRIADPRO-CONDIT.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Italic'), url('MYRIADPRO-BOLDIT.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Condensed Italic'), url('MYRIADPRO-BOLDCONDIT.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Condensed'), url('MYRIADPRO-BOLDCOND.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('MYRIADPRO-BOLD.woff') format('woff');
}


h3, h2 {
  text-align: center;
}

//regras para a TV FULL HD
//TESTAR ISTO NA TV!!!!
@media (min-width: 500px) {
  //  BUG NESTA MERDA, VER MELHOR
  #hour-info p {
    font-size: 775%;
  }

  #date-info p {
    font-size: 375%;
    padding-left: 20px;
    padding-right: 20px;
  }

  #category p {
    margin-top: 0px;
    font-size: 150%;
    padding: 12px;
  }

  #news-container p {
    margin: 0px;
    font-size: 120%;
    padding: 10px;
  }
}

@media (max-width: 499px) {

  /*paragrafo das horas*/
  #hour-info > p {
    font-size: 80px;
  }

  #date-info > p {
    font-size: 35px;
  }
}

body {
  margin: 0px;
}

#globalContainer {
  background-color: #ffffff;
  color: white;

  //  tamanho HD
  //    width: 1366px;
  //    height: 768px;

  //  tamanho FULLHD
  width: 1920px;
  height: 1080px;

  font-family: "Myriad Pro Regular";
}

/*inicio do que realmente interessa*/
#main {
  /*mudar a altura consoante a resolução do display*/
  //  height: 752px;
  width: 100%;
  height: 100%;

  background-color: darkblue;
  //  font-size: 30px;

  //cores da faculdade
  //  background-color: #3bb6ce; //azul claro
  //  background-color: #79ba28; // verde
  //  background-color: #2a6dba; //azul escuro
}

#video-and-lateral {
  height: 93%;
  width: 100%;
}

/* ############# css do caixote central ############# */
#view-area {
  height: 100%;
  width: 70%;
  //  background-color: brown;
  float: left;
  /*display: inline-block;*/
}

.itemsCar {
  height: 100%;
  width: 100%;
}

#right-panel {
  /*remover margens entre inline-block*/
  /*margin-left: -4px;*/
  height: 100%;
  width: 30%;
  //  background-color: lightgrey;
  float: left;
  //  font-size: 30px;
  /*display: inline-block;*/
}

/* ############# css do painel lateral - TOPO ############# */
#right-panel-top {
  width: 100%;
  height: 15%;
  //  background-color: deeppink;
  display: block;
  background-color: rgba(58, 218, 255, 0.1);

  //  border-bottom: 1px solid #79ba28;

}

#hour-info {
  width: 50%;
  font-family: "Myriad Pro Condensed";
  font-weight: bold;
}

#date-info {
  width: 50%;
  //  padding-top: 10px;
  /*background-color: blue;*/
}

#hour-info,
#date-info {
  height: 100%;
  float: left;
}

#hour-info > p,
#date-info > p {
  text-align: center;
  margin: 0px;
}

/* ############# PAINEL LATERAL - MEIO ############# */
#right-panel-middle {
  width: 100%;
  height: 60%;
  //  background-color: lightgrey;
  /*padding-left: 25px;*/
  //border-bottom: 1px solid lightgray;
  font-size: 240%;

  //  box-shadow: inset 0 0 10px rgba(58, 218, 255, 0.36), inset 0 10px 10px rgba(58, 218, 255, 0.36);
  background: linear-gradient(to bottom, darkblue 0%, rgba(58, 218, 255, 0.3) 10%, rgba(58, 218, 255, 0.3) 90%, darkblue 100%);
}

#toAnimate {
  width: 90%;
}

/*titulo do restaurante*/
#right-panel-middle h2 {
  padding-left: 50px;
  margin-bottom: 30px;
  padding-top: 30px;
  margin-top: 0px;
}

/*lista que contem a ementa*/
#ementaList {
  list-style: none;
  padding-left: 70px;
}

#ementaList > li {
  margin-bottom: 15px;
  /*margin-top: 20px;*/
}

/* ############# css do painel lateral - BAIXO ############# */
#right-panel-bottom {
  width: 100%;
  height: 25%;
  //  border-bottom: 1px solid #79ba28;
  background-color: rgba(58, 218, 255, 0.1);

  //  background: linear-gradient(to bottom, rgba(58, 218, 255, 0.36) 0%, darkblue 100%);
}

/* ############# FOOTER ############# */
#footer {
  height: 7%;
  width: 100%;
  //  background-color: rgba(179, 222, 236, 0.35);
  font-size: 30px;
}

#category {
  width: 20%;
  height: 100%;
  background-color: #3bb6ce;
  float: left;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  font-family: "Myriad Pro Regular";
}

#news-container {
  width: 80%;
  height: 100%;
  float: left;
  font-family: 'Myriad Pro Condensed';
  font-size: 40px;
}

#category p {
  margin-top: 0px;
}

#news-container p {
  margin: 0px;
}

.news-container-scroll {
  overflow: hidden;
}

.free-classrooms{
  font-size: 250%;
  padding-left: 5%;
}

#divClassrooms{
  padding-top: 2%;
  padding-left: 2%;
}

/*parte superior do painel lateral, com as horas/tempo*/
/*#meteo-info, #hour-date {*/
/*height: 50%;*/
/*}*/

/*temperatura maxima/minima*/
/*#meteo-min-temp,*/
/*#meteo-max-temp {*/
/*width: 50%;*/
/*height: 100%;*/
/*float: left;*/
/*}*/

/*temperatura minima*/
/*#meteo-min-temp {*/
/*background-color: blue;*/
/*}*/

/*temperatura máxima*/
/*#meteo-max-temp {*/
/*background-color: red;*/
/*}*/

/*#max-temp-img,*/
/*#max-temp-value,*/
/*#min-temp-img,*/
/*#min-temp-value {*/
/*float: left;*/
/*width: 50%;*/
/*height: 100%;*/
/*}*/

/*#max-temp-img,*/
/*#min-temp-img {*/
/*background-color: #ffff00;*/
/*}*/

/*#max-temp-value,*/
/*#min-temp-value {*/
/*background-color: green;*/
/*}*/

/*centra os textos do rodapé*/
/*#footer > h1 {*/
/*margin-top: 19px;*/
/*margin-bottom: 19px;*/
/*}*/

/*padding para a noticia do rodapé*/
/*#news-container > h1 {*/
/*padding-left: 10px;*/
/*}*/


.meteo-span {
  display: inline-block;
  width: 50%;
  text-align: center;
}

/*#######################################################*/
.badjoras {
  visibility: hidden;
  position: absolute; //faz com que a div comece de cima, em vez de começar a meio do painel
}