// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row {
  margin-bottom: 15px;
}

.right-align {
  text-align: right;
}

#bookmarks {
  background-color: lightgray;
}

#links {
  text-align: center;
}

#main {
  
}