<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'tv.css' %>
</head>
<body onload="init()">

<div class="" id="main">

  <div class="" id="video-and-lateral">

    <div class="" id="logo">
      <h2>CampusTV</h2>
    </div>

    <div class="" id="view-area">

    </div>

    <div class="" id="right-panel">

      <div class="" id="right-panel-top">
        <div id="hour-date">
          <div id="hour-info">
            <h1>12:40</h1>
          </div>
          <div id="date-info">
            <h3>Sexta, 20</h3>

            <h3>Outubro</h3>
          </div>

        </div>
      </div>
      <div class="" id="right-panel-middle">
        <h2>Restaurante</h2>
        <ul id="ementaList">
          <li>Item 1 Item 1 Item 1</li>
          <li>Item 2 Item 2 Item 2</li>
          <li>Item 3 Item 3 Item 3</li>
          <li>Item 4 Item 4 Item 4</li>
          <li>Item 5 Item 5 Item 5</li>
        </ul>
      </div>

      <div class="" id="right-panel-bottom">
        <div id="meteo-info">
          <div id="meteo-min-temp">
            <div id="max-temp-img">

            </div>
            <div id="max-temp-value">

            </div>
          </div>
          <div id="meteo-max-temp">
            <div id="min-temp-img">

            </div>
            <div id="min-temp-value">

            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

  <div class="" id="footer">

    <div class="" id="category">
      <p><b>ÚLTIMA HORA</b></p>
    </div>

    <div class="" id="news-container">
      <p>Uma pequena noticia, só para arrancar com a cena hehehehehehehehehehehehehe</p>
    </div>

  </div>

</div>

</body>
</html>